<div class="app-container">
  <div class="password-generator">
    <h1>Password Generator</h1>
    <input
      type="number" id="charlength"
      placeholder="Enter character length" [(ngModel)]="charLength" min="5" max="20"
    />
    <div class="error">
      {{message}}
    </div>
    <div class="generated-password">
      <p>{{ generatedPassword || 'Your password will appear here' }}</p>
    </div>
    <button (click)="generatePassword()">Generate Password</button>
    <button (click)="copyPassword()">Copy Password</button>
  </div>
</div>
