.app-container {
  font-family: 'Arial', sans-serif;
  background-image: url('https://images.unsplash.com/photo-1503332132010-d1b77a049ddd?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size:cover;
  margin: -8px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #713333;
  color: #ffffff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}




.password-generator {
  background: rgba(0, 0, 0, 0.85);
  color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgb(150, 12, 12);
  width: 450px;
  height: 320px;
  text-align: center;
}

.password-generator h1 {
  font-size: 26px;
  margin-bottom: 25px;
}

.password-generator input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #666;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}

.password-generator input::placeholder {
  color: #cccccc;
}

.password-generator .generated-password {
  background: rgba(255, 255, 255, 0.1);
  padding: 12px;
  border-radius: 6px;
  margin-bottom: 20px;
  font-family: 'Courier New', monospace;
  color: #ffffff;
}

.password-generator button {
  background: #ffff00;
  color: #000000;
  border: none;
  padding: 12px 20px;
  margin: 5px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s ease;
}

.password-generator button:hover {
  background: #ac9700;
}
.error{
  color: red;
}
